/* Shared style */
* {
  font-family: "Merriweather Sans", sans-serif;
}
body {
  /* margin: 50px 110px; */
}
/* Heaader banner section style */
.header .banner1_secttion {
  background-image: url(../resources/Banner\ Image.png);
  background-size: cover;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  margin: 50px 110px;
  /* background:linear-gradient(180deg,black) */
  /* background: linear-gradient(180deg, #070211 0%,(155, 146, 173, 0) 100%); */
}

.header .banner1_secttion h3 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding: 160px 0 0 0;
  width: auto;
  height: 40px;
}
.header .banner1_secttion h2 {
  color: #fff;
  text-align: center;
  font-size: 85px;
  font-weight: 900;
}
/* Discount section style */
.header .offer_discount_section {
  text-align: center;
  padding-top: 120px;
  width: 1320px;
  height: auto;
}
.header .offer_discount_section .discount_percentage {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
.header .offer_discount_section .message {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
.header .offer_discount_section .category_item {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-top: 16px;
}
/* main section banner 2 style */
.banner2section {
  background-image: url(../resources/Vectorrr.png);
  background-size: cover;
  /* width: auto; */
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  display: flex;
  margin: 120px 110px;
  padding: 50px 5px 0px 0px; /* top right bottom left */
}

.banner2section .welcome_text_container .welcome_text {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  margin-left: 100px;
  /* margin: 126px 0px 24px 126px; */
}
.banner2section .welcome_text_container .welcome_descrioption {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  margin-left: 100px;
  /* margin: 0px 497px 45px 126px; */
}
.banner2section .welcome_text_container .btn_join {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  background: none;
  border: none;
  margin-left: 126px;
  padding-top: 48px;
  /* margin: 0 1060px 0 158px; */
}
/* Event detales section style */
.event_detals_container {
  /* width: 1320px; */
  width: 1320px;
  height: 482px;
  background-image: linear-gradient(
    rgb(236, 172, 220),
    rgb(215, 215, 205),
    rgb(254, 254, 254)
  );
  margin: 50px 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.event_detals_container .detal_box {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.event_detals_container .detal_box span {
  color: #f00;
}
.event_detals_container .detal_box #btn_join {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #f00;
  border: none;
  margin-top: 48px;
}
/* product section style */
.product_container {
  /* width: 1300px; */
  width: auto;
  height: 7335px;
  margin: 120px 110px;
  border-radius: 10px;
}
.product_container h3 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.product_container h2 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
}
.product_container p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  max-width: 70%;
}
.product_container .product_image_container .div {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}
.product_container .product_image_container .div .image:hover {
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(236, 70, 70, 0.2),
    0 6px 20px 0 rgba(19, 1, 1, 0.19);
}
/* Subscribe section style */
.subscribe_container {
  display: flex;
  display: inline-block;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  width: 1320px;
  height: 690px;
  text-align: center;
  margin-top: 120px;
  /* align-items: center;
  justify-content: center; */
}

.subscribe_container img {
  width: 150px;
  height: 150px;
  padding: 40px;
}
.subscribe_container h2 {
  color: #8d5cef;
  font-size: 48px;
  font-weight: 900;
}
.subscribe_container p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  max-width: 100%;
  padding: 20px 50px;
}
.subscribe_container .input_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.subscribe_container .input_container input[type="email"] {
  background-color: #fff;
  border: none;
  border-radius: 50px 0 0px 50px;
  /* padding: 20px; */
  height: 72px;
  width: 500px;
  text-align: center;
}
.subscribe_container .input_container input[type="submit"] {
  border-radius: 0px 50px 50px 0px;
  border: none;
  background: #f00;
  width: 210px;
  /* padding: 20px; */
  height: 72px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.input_container input[type="submit"]:hover {
  background: rgb(0, 3, 255);
}
